body {
    background-color: #FAFAFA;
    margin: 0;
    margin-left: 2%;
    margin-right: 2%;
    font-family: 'Open Sans', sans-serif;
}

footer, #load-more {
    margin: auto;
    width: 50%;
    text-align: center;
}

header {
    font-family: 'Helvetica', sans-serif;
    padding: 5px;
    margin-bottom: 40px;
}
header h3 {
    margin-top: 10px;
    margin-left: 40px;
}

.filters {
    margin: auto;
    width: 50%;
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 2%;
    padding: 10px;
}

.toggle-off {
    border: 1px solid #ced4da !important;
    border-radius: .25rem;
}

.filters .search-filters {
    display: flex;
    flex-direction: row;
    justify-content: end;
}

.loading-element {
    margin: auto;
    width: 50%;
    display: none;
    &.loading {
        display: flex;
        flex-direction: column;
        justify-self: center;
    }
}

#images-app {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    flex-wrap: wrap;

    margin: auto;
    width: 50%;
    padding: 10px;
}

#images-app .image-card {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
}

#images-app .image-card h5 {
    text-align: center;
    margin: auto;
    width: 50%;
}

#images-app .image-card img {
    order: -1;
    height: 300px;
    width: 300px;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 4px 8px 0 rgba(0, 0, 0, 0.19);
}